<div class="demo-container">
  <!-- Encabezado de la página -->


  <oefa-page-header [title]="optionName()"
    subtitle="PRUEBAAAA: Consumo de API de prueba del Sistema SIGA OEFA en tiempo real." />

  <!-- Tarjeta del Formulario de Búsqueda -->
  <div class="card demo-card-padding">
    <h3 class="section-title">Filtros de Búsqueda de Expediente</h3>

    <div class="form-grid">
      <div class="form-group">
        <label class="form-label">Unidad Ejecutora</label>
        <input type="text" [(ngModel)]="filtro.unidadejecutora" class="form-input font-mono" placeholder="Ej: 001" />
      </div>
      <div class="form-group">
        <label class="form-label">Año de Proceso</label>
        <input type="text" [(ngModel)]="filtro.anioproceso" class="form-input font-mono" placeholder="Ej: 2025" />
      </div>
      <div class="form-group">
        <label class="form-label">Tipo Documento</label>
        <input type="text" [(ngModel)]="filtro.tipodocumento" class="form-input font-mono" placeholder="Ej: S" />
      </div>
      <div class="form-group">
        <label class="form-label">Número Expediente</label>
        <input type="text" [(ngModel)]="filtro.numero" class="form-input font-mono" placeholder="Ej: 00996" />
      </div>
    </div>

    <!-- Botón del Sistema de Diseño -->
    <div class="form-actions">
      <oefa-button variant="primary" [loading]="cargando()" (btnClick)="ejecutarBusqueda()">
        {{ cargando() ? 'Consultando API...' : 'Buscar en SIGA'}}
      </oefa-button>
    </div>
  </div>

  <!-- Mensaje de Error en caso falle la API - Sistema de Diseño-->
  @if (errorMsg()){
  <oefa-alert type="error" title="Error de conexión" [message]="errorMsg()!" />
  }

  <!-- Tabla de Resultados -->
  @if (documentos().length > 0) {
  <div class="card demo-card-padding-sm">
    <h3 class="section-title">Documentos Encontrados</h3>

    <table class="data-table">
      <thead>
        <tr>
          <th>Documento</th>
          <th>Asunto</th>
          <th>Fecha Registro</th>
          <th>Nombre de Descarga</th>
          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (doc of documentos(); track doc.FILEUBICACION) {
        <tr>
          <td class="font-bold">{{ doc.DESCRIP_DOC }}</td>
          <td>{{ doc.ASUNTO }}</td>
          <td class="font-mono">{{ doc.FEC_FILE }}</td>
          <td class="font-mono text-muted text-xs">{{ doc.NOMBRE_DESCARGA }}</td>
          <td class="text-right">
            <a [href]="'https://sistemas.oefa.gob.pe/siga/descargar/' + doc.FILEUBICACION" target="_blank"
              class="no-underline">
              <oefa-button variant="secondary" size="sm">Ver Archivo </oefa-button>
            </a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else if (busquedaRealizada() && !cargando() && !errorMsg()) {
  <oefa-empty-state icon="search" [compact]="true"
    description="No se encontraron documentos en SIGA con los filtros provistos." />
  }
</div>