<div
  class="oefa-progress-bar"
  [ngClass]="['variant-' + variant, 'size-' + size]"
  role="progressbar"
  [attr.aria-valuenow]="clampedValue"
  aria-valuemin="0"
  aria-valuemax="100"
  [attr.aria-label]="ariaLabelText">
  @if (label || subtext || showValueText) {
    <div class="progress-bar-header">
      @if (label) {
        <span class="progress-bar-label">{{ label }}</span>
      }
      <div class="progress-bar-right-info">
        @if (showValueText) {
          <span class="progress-bar-value-text">{{ clampedValue }}%</span>
        }
        @if (subtext) {
          <span class="progress-bar-subtext">{{ subtext }}</span>
        }
      </div>
    </div>
  }

  <div class="progress-bar-track">
    <div class="progress-bar-fill" [style.width.%]="clampedValue"></div>
  </div>
</div>
